// ***** FOOTER
footer {
  color: #fff;
  background-color: var(--color-primary);
  .container {
      justify-content: space-between;
      align-items: center;
      height: 80px;
  }
  a {
      font-size: 28px;
      text-transform: uppercase;
      color: #fff;
  }
}