// ***** DETAIL
.detail {
  margin-bottom: 20px;
  margin-top: 30px;
  @media (min-width: 768px) {
      padding-right: 15px;
      width: 60%;
  }

  h1 {
      font-size: 32px;
      line-height: 38px;
      margin-bottom: 20px;
  }

  h3 {
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .img__box {
      position: relative;
      margin-bottom: 20px;
      margin-top: 20px;
      .img__content {
          position: absolute;
          padding: 10px 20px;
          bottom: 0;
          color: #fff;
          font-size: 15px;
          background-color: rgba(0,0,0,.3);
          p {
              margin-bottom: 0;
          }
      }
  }

  p {
      font-size: 15px;
      line-height: 1.4;
      margin-bottom: 10px;
  }

  .link-button {
      border: 3px solid var(--color-primary);
      padding: 5px 20px;
      border-radius: 25px;
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      display: block;
      width: 210px; //revisión 
  }
}