.top-news {
  margin-bottom: 30px;
}

.news {
  // outline: 1px dashed green;

  @media (min-width:992px) {
    width: 66.67%; 
  }

  h2 {
    @media (min-width:768px) {
      width: 100%
    }
  }

}

.most-read {
  // outline: 1px dashed orange;
  @media (min-width:992px) {
    width: 33.33%;
  }
}