

.news {
  outline: 1px dashed green;
  
  @media (min-width:768px) {
    width: 66.67%; 
  }

  h2 {
    @media (min-width:768px) {
      width: 100%
    }
  }

}

.most-read {
  outline: 1px dashed orange;
  
  @media (min-width:768px) {
    width: 33.33%;
  }
}