// ***** POLITIC-NEWS
.politic {
    margin-top: 30px;

    @media (min-width: 768px) {
        padding-right: 15px;
        width: 66.67%;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__article {
    margin-bottom: 30px;    
    time {
        font-size: 11px;
    }

    .content {
        display: flex;   
    }

    figure {
        border: 1px dashed green;   
        margin-right: 20px;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tags {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  }
}