:root {
    --color-primary: #62346f;
    --color-primary-dark: #3a1045;
    --color-secondary: #009d78;
    --font-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    @media (min-width: 576px) {
        width: 516px;
    }
    @media (min-width: 768px){
        width: 706px;
    }
    @media (min-width: 992px) {
        width: 942px;
    }
}

// ***** HEADER
header {
    margin-bottom: 30px;
    background-color: var(--color-primary);
    color: #fff;
    a {
        color: #fff;
    }
}

.menu-principal {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;



    div {
        display: flex;
        align-items: center;
    }

    .logo {
        font-size: 42px;
        text-transform: uppercase;
        margin-right: 50px;
    }

    .fa-bars {
        font-size: 26px;
        @media (min-width: 992px) {
            display: none;
        }
    }

    .menu-principal__right {
        display: none;
        @media (min-width: 992px) {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    nav a {
        margin-left: 25px;
        &:first-child {
            padding: 5px 15px;
            color: var(--color-primary);
            background: #fff;
            border-radius: 20px;
        }
    }

    .form-group {
        margin-left: 20px;
        position: relative;
        z-index: 10;
        width: 25px;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            width: 250px;
        }

        input {
            width: 100%;
            height: 28px;
            border: none;
            border-radius: 15px;
            padding-left: 30px;
            transition: all .5s;
            background-color: var(--color-primary);
        } 

        &:hover input {
            background-color: #fff;
        }


        i {
            position: absolute;
            left: 5px;
            color: #fff;
        }

        &:hover i {
            color: var(--color-primary);
        }
    }
}

.menu-sections {
    background-color: var(--color-primary-dark);
    color: #fff;

    .container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin-left: 10px;
        margin-right: 10px;
    }

    a {
        line-height: 40px
    }

    i {
        color: var(--color-primary);
        display: inline-block;
        height: 18px;
        width: 18px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: #fff;
    }
}


// ***** MAIN

main {
    display: flex;
    flex-wrap: wrap;
}

// ***** POLITIC-NEWS
.politic {
    
    @media (min-width: 768px) {
        padding-right: 15px;
        width: 60%;
    }

    h2 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__article {
        margin-bottom: 30px;    
        time {
            font-size: 11px;
        }

        h3 {
            font-size: 16px;
            line-height: 20px;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .content {
            display: flex;   
        }

        figure {
            border: 1px dashed green;   
            margin-right: 20px;
        }

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .tags {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .tag {
            color: #fff;
            background-color: var(--color-primary);
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 3px 10px;
            border-radius: 15px;
            font-size: 13px;
        }

        .icon {
            display: inline-flex;
            justify-content: center;
            width: 25px;
            height: 25px;
            border: 2px solid;
            border-radius: 50%;
            
        }
    }
}

// ***** DETAIL
.detail {
    margin-bottom: 20px;
    @media (min-width: 768px) {
        padding-right: 15px;
        width: 60%;
    }

    h1 {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .img__box {
        position: relative;
        margin-bottom: 20px;
        margin-top: 20px;
        .img__content {
            position: absolute;
            padding: 10px 20px;
            bottom: 0;
            color: #fff;
            font-size: 15px;
            background-color: rgba(0,0,0,.3);
            p {
                margin-bottom: 0;
            }
        }
    }

    p {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .link-button {
        border: 3px solid var(--color-primary);
        padding: 5px 20px;
        border-radius: 25px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        display: block;
        width: 210px; //revisión 
    }
}


// ***** ASIDE
aside {
    @media (min-width: 768px) {
        padding-left: 15px;
        width: 40%;
    }

    h2 {
        font-size: 28px;
        color: #009d78;
        margin-bottom: 25px;
    }

    article {
        border-bottom: 2px solid #aaa;
        margin-bottom: 20px;
        padding-bottom: 20px;

        time {
            font-size: 11px;
        }

        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .tag {
            color: #fff;
            background-color: var(--color-primary);
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 3px 10px;
            border-radius: 15px;
            font-size: 13px;
            &--red {background-color: red}
            &--pink {background-color: #ff00e3}
        }

        h3 {
            font-size: 16px;
            line-height: 20px;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}

// ***** FOOTER
footer {
    color: #fff;
    background-color: var(--color-primary);
    margin-top: 30px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }
    a {
        font-size: 28px;
        text-transform: uppercase;
        color: #fff;
    }
}
