:root {
  --color-primary: #62346f;
  --color-primary-dark: #3a1045;
  --color-secondary: #009d78;
  --font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 420px;
}

@media (min-width: 576px) {
  .container {
    width: 516px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 706px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 942px;
  }
}

header {
  margin-bottom: 30px;
  background-color: var(--color-primary);
  color: #fff;
}

header a {
  color: #fff;
}

.menu-principal {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.menu-principal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-principal .logo {
  font-size: 42px;
  text-transform: uppercase;
  margin-right: 50px;
}

.menu-principal .fa-bars {
  font-size: 26px;
}

@media (min-width: 992px) {
  .menu-principal .fa-bars {
    display: none;
  }
}

.menu-principal .menu-principal__right {
  display: none;
}

@media (min-width: 992px) {
  .menu-principal .menu-principal__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.menu-principal nav a {
  margin-left: 25px;
}

.menu-principal nav a:first-child {
  padding: 5px 15px;
  color: var(--color-primary);
  background: #fff;
  border-radius: 20px;
}

.menu-principal .form-group {
  margin-left: 20px;
  position: relative;
  z-index: 10;
  width: 25px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.menu-principal .form-group:hover {
  width: 250px;
}

.menu-principal .form-group input {
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 15px;
  padding-left: 30px;
  -webkit-transition: all .5s;
  transition: all .5s;
  background-color: var(--color-primary);
}

.menu-principal .form-group:hover input {
  background-color: #fff;
}

.menu-principal .form-group i {
  position: absolute;
  left: 5px;
  color: #fff;
}

.menu-principal .form-group:hover i {
  color: var(--color-primary);
}

.menu-sections {
  background-color: var(--color-primary-dark);
  color: #fff;
}

.menu-sections .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-sections nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.menu-sections a {
  line-height: 40px;
}

.menu-sections i {
  color: var(--color-primary);
  display: inline-block;
  height: 18px;
  width: 18px;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .politic {
    padding-right: 15px;
    width: 60%;
  }
}

.politic h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.politic__article {
  margin-bottom: 30px;
}

.politic__article time {
  font-size: 11px;
}

.politic__article h3 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.politic__article .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.politic__article figure {
  border: 1px dashed green;
  margin-right: 20px;
}

.politic__article .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.politic__article .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.politic__article .tag {
  color: #fff;
  background-color: var(--color-primary);
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 13px;
}

.politic__article .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-radius: 50%;
}

@media (min-width: 768px) {
  aside {
    padding-left: 15px;
    width: 40%;
  }
}

aside h2 {
  font-size: 28px;
  color: #009d78;
  margin-bottom: 25px;
}

aside article {
  border-bottom: 2px solid #aaa;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

aside article time {
  font-size: 11px;
}

aside article > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside article .tag {
  color: #fff;
  background-color: var(--color-primary);
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 10px;
  border-radius: 15px;
  font-size: 13px;
}

aside article .tag--red {
  background-color: red;
}

aside article .tag--pink {
  background-color: #ff00e3;
}

aside article h3 {
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

footer {
  color: #fff;
  background-color: var(--color-primary);
  margin-top: 30px;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

footer a {
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
}
/*# sourceMappingURL=category.css.map */